@model GestionEventos.Models.Evento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CupoLimite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CupoLimite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tema)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lugar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoEvento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
